*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    font-size: 5rem;
    color: #F40076;
    -webkit-text-stroke: 2px #533B4D;
    font-family: 'Bungee Inline', cursive;
}
h2 {
    font-size: 3rem;
    color: #533B4D;
    font-family: 'Bungee Inline', cursive;
}
h3 {
    font-size: 2.3rem;
    color: #533B4D;
    font-family: 'Lobster', cursive;
}
h4 {
    font-family: 'Lobster', cursive;
}
p, label, div.checkbox {
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
}
input, select {
    font-family: 'Lobster', cursive;
    font-size: 1.1rem;
    background: none;
    border: none;
    border-bottom: purple solid 1px;
    color: grey;
    margin-bottom: 1rem;
    margin-top: 0rem;
}
input:focus, select:focus {
    font-family: 'Lobster', cursive;
    font-size: 1.1rem;
    background: none;
    border: none;
    outline: none;
    border-bottom: black solid 1.5px;
    color: purple;
}
input#enviarCont {
    border: black solid 1px;
    background-color: white;
}
th {
    font-family: 'Bungee Inline', cursive;
}
td {
    font-family: 'Lobster', cursive;
}
button {
    font-family: 'Lobster', cursive;
}
a {
    font-family: 'Lobster', cursive;
}
li a { 
    font-size: 1.4rem;
    margin-top: -0.4rem;
    color: grey;
}
h2.logo {
    font-size: 2rem;
    padding: 0rem;
    color: #F40076;
}
header {
    background-color: #E9E0F5;
    position: sticky;
    top: 0rem;
    height: 4rem;
    z-index: 100;
}
.navbar-bordeaux, .navbar-nav, .nav-link{
    color: #533B4D;
}
.nav-link:hover, .navbar-bordeaux:hover, .navbar-nav:hover, .nav-item:hover{ 
    color: #F40076;
}
section {
    padding-left: 1rem;
    padding-top: 6rem;
    margin-top: 0rem;
}
section#hero {
    height: 100vh;
    background-color: #8158FF;
    background-image: url(../img/concert.jpg);
    background-size: cover;
}
section#aboutUs, section#contrataciones {
    background-color: #FDD8E9;
}
section#servicios, section#contactanos, section#infoart {
    background-color: #B892FF;
}
section#roaster, section#adquirir {
    background-color: #A41E62;
}
#roaster h2, #roaster h3 {
    color: #FDD8E9;
}
section#aboutUs, section#roaster, section#contrataciones, section#infoart {
    height: 100vh;
}
section#servicios {
    height: 120vh;
}
section#contactanos{
    height: 130vh;
}
section#adquirir{
    height: 150vh;
}
section#adquirir h2, section#adquirir h4, section#adquirir table, section#adquirir p {
    margin-left: 1rem;
    color: #FDD8E9;
}

#hero h3 {
    color: #533B4D;
    -webkit-text-stroke: 0.5px #A41E62;
}
.roaster-lista, .productos-lista {
    padding-top: 3rem;
}
.roaster-lista img {
    margin-top: 1rem;
}
#aboutUs h4 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap: 2rem;
    padding: 2rem;
    text-align: justify;
}
.formulario fieldset, #contrataciones fieldset {
    width: 35rem;
    border: none;
}
#muchasGracias {
    font-size: 1.8rem;
    color: #A41E62;
    margin-top: 2rem;
}

#resTarifa {
    padding: 7rem 3rem 0rem 1rem;
    font-size: 1.7rem;
    display: flex;
    width: 45%;
    text-align: justify;
}
.bodyhome {
    height: 100vh;
    overflow-y: hidden;
    background-image: url(../img/micyluz2.jpg);
    background-size: cover;
}
section#inicio {
    padding: 0px;
    bottom: 0px;
}
div#hero {
    height: 73vh;
}
.cardW {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#cisum {
    font-size: 5rem;
}
#bym {
    font-size: 3rem;
}
.selectWeb {
    background-color: #B892FF;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
div#soyArt, div#soyCont, div#soyFan {
    padding-left: 2rem;
    width: 100%;
    text-align: center;
}
div#soyArt {
    background-color: #8667A6;   
}
div#soyArt:hover {
    background-image: url(../img/secciones/micyluzblue.jpg);
    background-size: cover;
    background-position-y: -7.3rem;
}
div#soyCont {
    background-color: #A41E62;
}
#soyCont h2{
    color: #E9E0F5;
}
div#soyCont:hover {
    background-image: url(../img/secciones/micyluzbordo.jpg);
    background-size: cover;
    background-position-y: -10.8rem;
}
div#soyFan {
    background-color: #FDD8E9;
}
div#soyFan:hover {
    background-image: url(../img/secciones/micyluzrosa.jpg);
    background-size: cover;
    background-position-y: center;
}
.secWeb h2 {
    width: 100%;
    font-size: 2.5rem;
}
#btnArt, #btnCont {
    display: none;
}
.blur {
    transition: 0.5s;
}
.titulo {
    margin-top: -2rem;  
}
div.cardband {
    margin-top: 2.5rem;
    margin-left:1.5rem ;
}
div.infoband {
    margin: 0rem 2.5rem 0rem 2rem;
    text-align: justify;
}
.masinfo {
    text-align: center;
    padding-right: 3rem;
    padding-top: 1rem;
    font-size: 2rem;
}
a.masinfo {
    color: #A41E62;
    text-decoration: #A41E62;
    text-decoration-line: underline;
}
a.masinfo:hover {
    color: #533B4D;
    text-decoration: #533B4D;
    text-decoration-line: underline;
}
#loading img {
    width: 100%;
    filter: hue-rotate(21deg);
}
.productos-lista table td:first-child, .productos-lista table th:first-child {
    width: 10rem;
    padding-left: 0.4rem;
}
.productos-lista table td:nth-child(2), .productos-lista table th:nth-child(2) {
    text-align: justify;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
}
.productos-lista table td:nth-child(3) {
    width: 6rem;
}
.productos-lista table td:last-child, .productos-lista table th:last-child {
    padding-right: 0.4rem;
}
.productos-lista table {
    margin-right:1rem ;
    background-color: rgba(83, 59, 77, 0.2);
}
.productos-lista {
    margin:1rem 1rem 1rem 0rem;
    padding: 0rem;
}
#carritoLista {
    position: fixed;
    z-index: 100;
    top: 7rem;
    transform: translateX(57rem);
    width: 23rem;
    background-color: #E9E0F5;
    padding: 2rem;
}
#carritoLista table td, #carritoLista table th{
   padding: 0rem 0.5rem;
}
#carritoLista table td:first-child, #carritoLista table th:first-child{
    width: 13rem;
}
#carritoLista table td:last-child, #carritoLista table th:last-child{
    width: 8rem;
    text-align: right;
}
.carrito:hover {
    filter: drop-shadow(2px 2px 2px purple);
}